@media screen and (max-width: 576px) {

    nav,
    .influencer, .card-container, .product-container {
        flex-direction: column;
    }

    header , .collection-section{
        padding: 1rem;
    }

    nav li {
        margin-right: 1rem;
    }

    .influencer-container{
        width: 100%;
        padding: 2rem;
    }

    .influencer-img img {
        width: 100%;
    }

    .camera-bg-img {
        margin-top: 3rem;
    }
    .sponsor {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding: 4rem;
    }
    .sponsor img , .card-img{
        width: 100%;
    }
    .sponsor-section, .product-section {
        padding: 0;
    }
    .see-more {
        margin: 0;
        padding-top: 2rem;
    }
    .product-container {
        width: 100%;
        padding: 2rem;
    }
    .product-img {
        width: 100%;
    }

}




    @media screen and (min-width: 576px) and (max-width: 990px) {

        nav,
        .influencer, .card-container, .product-container {
            flex-direction: column;
            padding: 1rem;
        }

        header {
            padding: 3rem;
        }

        nav li {
            margin-right: 2rem;
        }

        .influencer-container, .collection-section {
            padding: 4rem;
        }
        .sponsor {
            grid-template-columns: repeat(7, 1fr);
            gap: 2rem;
            padding: 3rem;
        }
        .sponsor img , .card-img{
            width: 100%;
        }
        .sponsor-section {
            padding: 0;
        }
        .collection-section {
            padding: 0;
        }
        .product-container {
            width: 100%;
        }
        .product-section {
            padding: 2rem;
            text-align: center;
        }
        
    }